services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3015:3000'
    environment:
      - NODE_ENV=production
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
