$black: rgba(17, 17, 17, 1);
$white: rgba(254, 254, 254, 1);

$neutral-50: rgba(245, 244, 241, 1);
$neutral-100: rgba(243, 239, 229, 1);
$neutral-200: rgba(208, 200, 184, 1);
$neutral-300: rgba(181, 167, 143, 1);
$neutral-400: rgba(159, 140, 112, 1);
$neutral-500: rgba(135, 115, 91, 1);
$neutral-600: rgba(124, 101, 82, 1);
$neutral-700: rgba(100, 80, 68, 1);
$neutral-800: rgba(86, 69, 61, 1);
$neutral-900: rgba(75, 61, 56, 1);
$neutral-950: rgba(75, 61, 56, 1);
$primary-50: rgba(255, 245, 234, 1);
$primary-100: rgba(255, 228, 197, 1);
$primary-200: rgba(255, 199, 135, 1);
$primary-300: rgba(255, 170, 72, 1);
$primary-400: rgba(255, 150, 30, 1);
$primary-500: rgba(252, 137, 4, 1);
$primary-600: rgba(233, 126, 3, 1);
$primary-700: rgba(206, 76, 3, 1);
$primary-800: rgba(150, 85, 10, 1);
$primary-900: rgba(123, 71, 12, 1);
$primary-950: rgba(75, 41, 2, 1);
$secondary-50: rgba(240, 253, 251, 1);
$secondary-100: rgba(202, 253, 244, 1);
$secondary-200: rgba(150, 249, 235, 1);
$secondary-300: rgba(89, 239, 222, 1);
$secondary-400: rgba(39, 218, 205, 1);
$secondary-500: rgba(13, 176, 166, 1);
$secondary-600: rgba(8, 153, 147, 1);
$secondary-700: rgba(11, 122, 118, 1);
$secondary-800: rgba(14, 97, 95, 1);
$secondary-900: rgba(17, 80, 79, 1);
$secondary-950: rgba(2, 49, 49, 1);
