@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-farro);
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4,
h5 {
  font-size: 14px;
}

.ongletContent {
  transition: transform 0.3s 0.1s, opacity 0.2s;
}
