@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-farro);
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 20px;
}
