@use "../../../styles/variables" as *;

.header {
  width: 100%;

  .imageWrapper {
    position: relative;
    left: 0;
    height: 100%;
  }
  .inputWrapper {
    height: 50%;
    display: flex;
    align-items: center;
  }
  input::placeholder {
    color: $neutral-600;
  }
  .input {
    background-color: $neutral-100;
    min-height: 35px;
    width: 100%;
  }
}
